@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');


.wrapper {
    display:grid;
    place-items:center
  }


  body {
    /* background-color: rgb(15,82,186); */
    background-image: url(./assets/LINKED-Security-Team-experts.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  

  .property-card:hover {
    transform: translateY(-1rem);
  }

  .property-card:hover~.property-card {
    transform: translateX(130px);
  }

  .property-card:not(:first-child) {
    margin-left: -130px;
  }